<% if flash[:notice]%>
  <div id='flash-error'>
    <%= flash[:notice] %>
  </div>
<% end %>

<form action='/spaces/new'>
  <button type='submit'>List a Space</button>
</form>

<form action='/spaces' method='post'>
  <label for='available_from'>
    Available from (DD/MM/YY)
    <input type='text' name='available_from'>
  </label>
  <label for='available_to'>
    Available to (DD/MM/YY)
    <input type='text' name='available_to'>
  </label>
  <button type='submit'>List Spaces</button>
</form>

<form action='/reset_search' method='post'>
<!--   <input type='hidden' name='_method' value='delete'>
 -->  <button type='submit'>Reset Search</button>
</form>

<ul>
<% @spaces.each do |space| %>
  <li>
    <%= space.name%>
    <%= space.description%>
    £<%= space.price%> per night
    <%= space.available_from%>
    <%= space.available_to%>
  </li>
  <% end %>
</ul>
