
<% if flash[:notice]%>
  <div id='flash-error'>
    <%= flash[:notice] %>
  </div>
<% end %>


<form action='/spaces/new'>
  <button type='submit'>List a Space</button>
</form>

<form action='/spaces' method='post'>
  <label for='available_from'>
    Available from (DD/MM/YY)
    <input type='text' name='available_from'>
  </label>
  <label for='available_to'>
    Available to (DD/MM/YY)
    <input type='text' name='available_to'>
  </label>
  <button type='submit'>List Spaces</button>
</form>

<form action='/reset_search' method='post'>
<!--   <input type='hidden' name='_method' value='delete'>
 -->  <button type='submit'>Reset Search</button>
</form>

<section id='spaces'>
<ul>
  <% @spaces.each do |space| %>
    <li class='list'>
      <a id="space" href="/spaces/<%= space.id %>"><section id="space">
        <p id='title'><%= space.id %> <%= space.name%> - <span id='price'>£<%= space.price %> per night</span></p></br>
        <p id='desc'><%= space.description%></p>
        <form id='space_form' action='/sessions' method='post'>
          <input type='hidden' name='space' value"<%= space.id %>">
        </form>
      </section></a>
    </li>
    <% end %>


