<h1>Request for: A terrible space</h1>


<p> From: <%= @request_received.user.email %></p>

<p> Date: <%= @request_received.date_requested %></p>

<p> No. of requests for this space: <%= @requests_count  %></p>

      <section id="confirm_request"> 
        <form method='post'>
          <input type='hidden' name='confirm_request' value='<%= @request_received.id %>'>
          <input type='submit' formaction='/requests/confirm' value="Confirm request from: <%= @request_received.user.email %>">
        </form>
      </section>
      
      <section id="deny_request"> 
        <form method='post'>
          <input type='hidden' name='deny_request' value='<%= @request_received.id %>'>
          <input type='submit' formaction='/requests/deny' value="Deny request from: <%= @request_received.user.email %>">
        </form>
      </section>
