Requests made:
<section class="container" id='spaces'>
  <ul class="row">
    <% @request_display.each do |space| %>
      <li class="list col-lg-12">
        <section id="requests_made">
          <p id='title'><%= space.name %> - <span id='price'>£<%= space.price %> per night</span></p></br>
          <p id='desc'><%= space.description %></p>
          <p>Requested for: <%= display_dates(@users_requests, space) %></p>
        </section>
      </li>
    <% end %>
  </ul>
</section>



Request received:
<section class="container" id='spaces'>
  <ul class="row">
    <% @received_requests.each do |request| %>
      <li class="list col-lg-12">
        <section id="requests_received">
         <a id='request' href='/requests/confirm/1'> <p id='title'><%=request.space_name%></p>
           <p><%= request.status %></p></a>
        </section>
      </li>
    <% end %>
  </ul>
</section>
